/* google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans&family=Poppins&family=Work+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* header part style start */
.header{
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%x;
    height: 810px;
    text-align: right;
    
    
}
.header-titel{
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    padding-top: 216px;
    padding-left: 650px;
    padding-right: 130px;
}
.header-description{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    padding-top: 24px;
    padding-left: 720px;
    padding-right: 130px;
    line-height: 25px;

    
}
.btn-primary{
    background: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    border: 0;
    margin-top: 32px;
    margin-left: 845px;
    margin-right: 130px;
    margin-bottom: 165px;
    color: #005FAC;
    padding: 21px 25px;
    border-radius: 5px;  
}
/* header part style end */

/* failures describing styles start */

.failures-describe{
    width: 1072px;
    display: flex;
    margin-left: 120px;
    margin-right: 200px;
    margin-top: 131px;
    margin-bottom: 130px;
}
.failures-describe ul li{
    list-style-type: none;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    line-height: 26px;
    margin-left: 87px;
    margin-bottom: 5px;
    
}
.failures-describe ul li i{
    color: #6DE7B4;
    padding-right: 10px;
}
.describer-img{

}
.failures-describe-titel{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    line-height: 47px;
    margin-top: 230px;
    margin-left: 87px;
    padding-bottom: 25px;
}
.failures-describe-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    line-height: 26px;
    margin-left: 87px;
    padding-bottom: 16px;
}

/* failures describing styles end */

/* plans part styles start */

.plans-container{
    display: flex;
    gap:50px
}
.plans{
    margin-left: 110px;
}
.sub-titel{
    text-align: center;
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    
}
.plans-wish{
    text-align: center;
    color: #737272;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    
}
.plans{
    margin-left: 50px;
}
.plans img{
    padding-left: 40px;
}
.plans-titel{
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    line-height: 47px;
    padding-bottom: 50px;
}
/* plans part styles end */

/* banner part styles start */

.banner{
    width:1180px;
    margin-bottom:130px ;
}
.banner-container{
    width: 1140px;
    background-image:  linear-gradient(to right,  #005FAC, #005fac00) , url(../images/watch.png) ;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 120px;
    margin-top: 130px;
    padding-bottom: 60px;
    border-radius: 10px;
  
}
.banner-titel{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    padding-left: 50px;
    padding-right: 500px;
    padding-top: 50px;
}
.banner-btn{
    text-align: left;
    background: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    border: 0;
    color: #005FAC;
    padding: 20px 36px;
    border-radius: 5px;
    margin-left: 55px;
    margin-top: 20px;
}
/* banner part styles end */

/* footer section styles start  */
footer{
    background: #151414;
    width: 100%;
    margin-top: 130px;
    color: white;
    display: flex;
}
.footer ul li{
    list-style-type: none;
    margin-left: 150px;
}
.footer-titel{
    color: #f8f8f8;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    padding-top: 130px;
    padding-bottom: 15px;
}
.footer-description{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    margin-right: 30px;
    line-height: 26px;
    padding-bottom: 25px;
}
.footer-sub-description{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    padding-bottom: 15px;
    
    
}
.footer-sub-description i{
   padding-right: 10px;    
}
.footer-img{
    width: 25px;
    padding-top: 32px;
    padding-bottom: 130px;
    padding-right: 17px;
    
}
.footer-sub-titel{
    color: #f8f8f8;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    padding-top: 130px;
    padding-bottom: 30px;
    padding-right: 430px;
}
.email-box{
    background: #151414;
    color: #f8f8f8;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    padding: 21px;
    border-radius: 5px;
    border: 2px solid #fff;
    margin-bottom: 16px;
    
}
button{
    border: 0;
}
.footer-btn{
    background: #005FAC;
    color: #f8f8f8;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    padding: 20px 37px;
    border-radius: 5px;
    border: none;
}
/* footer section styles end  */